# Python
__pycache__/
*.pyc
*.pyo
*.so
.Python
env/
venv/
.env
.venv

# Models
*.pkl
*.joblib
models/mlflow/

# IDE
.vscode/
.idea/
*.swp

# Notebooks
.ipynb_checkpoints/
*.ipynb
!notebooks/archive/.gitkeep

# Logs
*.log
mlruns/
.DS_Store
mlflow.db
